/xv6/*.tex
/xv6/*.dvi
/xv6/*.idx
/xv6/*.aux
/xv6/*.log
/xv6/*.ind
/xv6/*.ilg
/xv6/*.o
/xv6/*.d
/xv6/*.asm
/xv6/*.sym
/xv6/vectors.S
/xv6/bootblock
/xv6/entryother
/xv6/initcode
/xv6/initcode.out
/xv6/kernel
/xv6/xv6.img
/xv6/fs.img
/xv6/kernelmemfs
/xv6/xv6memfs.img
/xv6/mkfs
/xv6/.gdbinit
/xv6/_*
