/xv6/*.tex
/xv6/*.dvi
/xv6/*.idx
/xv6/*.aux
/xv6/*.log
/xv6/*.ind
/xv6/*.ilg
/xv6/*.o
/xv6/*.d
/xv6/*.asm
/xv6/*.sym
/xv6/vectors.S
/xv6/bootblock
/xv6/entryother
/xv6/initcode
/xv6/initcode.out
/xv6/kernel
/xv6/xv6.img
/xv6/fs.img
/xv6/kernelmemfs
/xv6/xv6memfs.img
/xv6/mkfs
/xv6/.gdbinit
/xv6/_cat
/xv6/_echo
/xv6/_forktest
/xv6/_grep
/xv6/_init
/xv6/_kill
/xv6/_ln
/xv6/_ls
/xv6/_strdiff
/xv6/_test_fdr
/xv6/_get_pid
/xv6/_mkdir
/xv6/_rm
/xv6/_sh
/xv6/_stressfs
/xv6/_usertests
/xv6/_wc
/xv6/_zombie
/xv6/_user_get_uncle_count
/xv6/_user_lifetime